.equipmentBtn {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  :global(.ant-btn-icon) {
    margin: 0 !important;
    line-height: 0;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
