.stages {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 70px;
  grid-template-rows: auto auto;
  gap: 1px;
}

.cell {
  box-sizing: border-box;
  font-weight: normal;
  overflow: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.06);
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
