.results {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.resultCell {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .resultStroke {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .distanceLabel {
    text-align: center;
    width: 100%;
  }
}

.kind {
  >div {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
  }
}
