.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

ul.layout {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;

  li {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.editors {
  .day {
    width: 90px;
  }

  .hour,
  .minute {
    width: 72px;
  }
}
