.page {
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  h2 {
    margin: 0;
  }
}

.slots {
  list-style: none;
}

.members {
  width: 100%;
  min-width: 200px;
}

.trainer {
  width: 100%;
  min-width: 140px;
}
