.name {
  display: flex;
  gap: 8px;
  align-items: center;

  .text {
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;
    text-overflow: ellipsis;
    display: inline-block;
  }
}

.competition {
  font-weight: 600;
  color: #b8860b;
}

.test {
  font-weight: 500;
  color: #1677ff;
}

.open {
  font-weight: 600;
  color: #0bb85f;
}

.workout {
  color: inherit;
}

.fifty {
  text-decoration: underline;
}
