.name {
  display: flex;
  gap: 8px;
  align-items: center;

  .text {
    white-space: nowrap;
    overflow: hidden;
    max-width: 135px;
    text-overflow: ellipsis;
    display: inline-block;
  }
}
