header.head {
  background: white;
  border-bottom: 1px solid #f0f0f0;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8px;

  nav {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-items: center;
    overflow: hidden;

    a {
      color: rgba(00, 0, 0, 0.65);
      text-decoration: none;
      transition: 0.2s linear;

      &:hover {
        color: black;
      }
    }

    img {
      height: 45px;
    }
  }
}
